<ion-tabs (ionTabsDidChange)="tabChange($event)">    
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>#{{ order ? order.Id : '' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="order.DeliveryStatus == 'QUEUED' || order.DeliveryStatus == 'CREATED'">
          <ion-icon name="checkmark-outline"></ion-icon>
          Take
        </ion-button>
        <!--ion-button *ngIf="order.DeliveryStatus == 'IN_ORDER'">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          Cancel
        </ion-button-->
        <ion-button *ngIf="order.DeliveryStatus == 'IN_ORDER'">
          <ion-icon name="checkmark-outline"></ion-icon>
          Collect
        </ion-button>
        <!--ion-button *ngIf="order.DeliveryStatus == 'COLLECTED' || order.DeliveryStatus == 'VISIT_DONE' || order.DeliveryStatus == 'VISIT_CANCELED' || order.DeliveryStatus == 'VISIT_SUSPENDED' || order.DeliveryStatus == 'RETURNED'">
          <ion-icon slot="icon-only" name="archive-outline"></ion-icon>
          To storage
        </ion-button-->
        <ion-button *ngIf="order.DeliveryStatus == 'COLLECTED' || order.DeliveryStatus == 'VISIT_DONE' || order.DeliveryStatus == 'VISIT_CANCELED' || order.DeliveryStatus == 'VISIT_SUSPENDED' || order.DeliveryStatus == 'RETURNED'">
          <ion-icon name="rocket-outline"></ion-icon>
          Delivery
        </ion-button>
        <ion-button *ngIf="order.DeliveryStatus == 'READY_TO_STORAGE' || order.DeliveryStatus == 'TO_STORAGE'">
          <ion-icon name="archive-outline"></ion-icon>
          Store
        </ion-button>
        <!--ion-button *ngIf="order.DeliveryStatus == 'READY_TO_DELIVERY'">
          <ion-icon slot="icon-only" name="warning-outline"></ion-icon>
          Fail
        </ion-button-->
        <ion-button *ngIf="order.DeliveryStatus == 'READY_TO_DELIVERY'">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          Done
        </ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical" (click)="showOptions()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="general" selected="true">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>General</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directions">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Directions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="packages">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Packages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="log">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Log</ion-label>
      <!--ion-badge>6</ion-badge-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
