ion-content {
  padding: 50px 20px;
  text-align: center;
  // --ion-background-color: #FFD800;
}

.logo {
  width: 70px;
}

.fullheight {
  height: 100%;
  text-align: center;
}

.fullheight-row {
  height: 100%;
  flex-direction: column;
  padding: 100px 15px;
  align-items: center;
}
