<ion-content fullscreen>
  <form>
    <ion-grid class="fullheight">
      <ion-row class="fullheight-row ion-text-center">
        <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center" *ngIf="showLogo">
            <img
              src="assets/images/logo.png"
              alt="SML Messenger logo"
              class="logo"/>
            <h2>
              {{ 'APP.NAME' | translate }}
            </h2>
          </div>
          <ion-list>
            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">{{ 'LOGIN_PAGE.USERNAME' | translate }}</ion-label>
              <ion-input
                autocomplete="off" type="text" minlen="3" name="user"
                [(ngModel)]="username" required>
              </ion-input>
            </ion-item>
            <ion-item class="ion-margin-bottom">
              <ion-label position="stacked">{{ 'LOGIN_PAGE.PASSWORD' | translate }}</ion-label>
              <ion-input
                autocomplete="off" type="password" minlen="3" name="password"
                [(ngModel)]="password" required>
              </ion-input>
            </ion-item>
          </ion-list>
          <ion-button 
            expand="block" size="large" share="round"
            color="danger"
            (click)="login()"
            [disabled]="!username || !password">
            {{ 'LOGIN_PAGE.SIGN_IN' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
