<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="secondary">
        Information
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="fixed">Status</ion-label>
      <ion-input>CREATED</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Date</ion-label>
      <ion-input>6/1/2021 19:07:45</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Delivery</ion-label>
      <ion-input>ON_DEMAND</ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label color="secondary">
        Customer
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="ion-padding-start">José</ion-label>
    </ion-item>
    <ion-item href="mailto:jose@gmail.com">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        jose@gmail.com
      </ion-label>
    </ion-item>
    <ion-item href="tel:6441235852">
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <ion-label class="ion-padding-start">
        644 123 5852
      </ion-label>
    </ion-item>
  </ion-list>
  <!--ion-button expand="block">Take order</ion-button-->
</ion-content>
