<ion-content>
  <ion-list *ngIf="order">
    <ion-list-header>
      <ion-label color="secondary">
        Information
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="fixed">Status</ion-label>
      <ion-input>{{ order.DeliveryStatus | deliveryStatus:'long' }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Date</ion-label>
      <ion-input>{{ order.CreatedAt | date:'short' }}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Service</ion-label>
      <ion-input>{{ order.ServiceType | serviceType }}</ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label color="secondary">
        Customer
      </ion-label>
    </ion-list-header>
    <div *ngIf="order.CustomerContact">
      <ion-item *ngIf="order.CustomerContact.Name">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label class="ion-padding-start">{{ order.CustomerContact.Name }}</ion-label>
      </ion-item>
      <ion-item
        *ngIf="order.CustomerContact.Email"
        [href]="'mailto:' + order.CustomerContact.Email">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label class="ion-padding-start">
          {{ order.CustomerContact.Email }}
        </ion-label>
      </ion-item>
      <ion-item
        *ngIf="order.CustomerContact.Phone"
        [href]="'tel:' + order.CustomerContact.Phone">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-padding-start">
          {{ order.CustomerContact.Phone }}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <!--ion-button expand="block">Take order</ion-button-->
</ion-content>
