<ion-content>
  <ion-list *ngIf="order">
    <ion-list-header>
      <ion-label color="secondary">
        Information
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label position="fixed">Status</ion-label>
      <ion-input>{{ order.deliveryStatus | deliveryStatus:'long' }}</ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="fixed">Date</ion-label>
      <ion-input>{{ order.createdAt | date:'short' }}</ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="fixed">Service</ion-label>
      <ion-input>{{ order.serviceType | serviceType }}</ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="fixed">Distance</ion-label>
      <ion-input>{{ distance | number:'.1-1' }} Km.</ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-label position="fixed">Time</ion-label>
      <ion-input>{{ estimatedTime }} minutes</ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label color="secondary">
        Customer
      </ion-label>
    </ion-list-header>
    <div *ngIf="order.customerContact">
      <ion-item lines="none" *ngIf="order.customerContact.name">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label class="ion-padding-start">{{ order.customerContact.name }}</ion-label>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="order.customerContact.email"
        [href]="'mailto:' + order.customerContact.email">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label class="ion-padding-start">
          {{ order.customerContact.email }}
        </ion-label>
      </ion-item>
      <ion-item
        lines="none"
        *ngIf="order.customerContact.phone"
        [href]="'tel:' + order.customerContact.phone">
        <ion-icon name="phone-portrait-outline"></ion-icon>
        <ion-label class="ion-padding-start">
          {{ order.customerContact.phone }}
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
