<ion-content>
  <ion-list *ngIf="order">
    <ion-list-header>
      <ion-label color="secondary">
        Pickup
      </ion-label>
    </ion-list-header>
    <ion-item
      lines="none"
      [href]="'https://maps.google.com?saddr=My+Location&daddr=' + order.SourceAddress.Latitude + ',' + order.SourceAddress.Longitude"
      target="_blank">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start ion-text-wrap">{{ order.SourceAddress.FullAddress }}</ion-label>
    </ion-item>
    <div *ngIf="order.SourceAddressInstruction" class="ion-padding-bottom">
      <div *ngIf="order.SourceAddressInstruction.Contact">
        <ion-item lines="none" *ngIf="order.SourceAddressInstruction.Contact.Name">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.SourceAddressInstruction.Contact.Name }}</ion-label>
        </ion-item>
        <ion-item 
          lines="none"
          *ngIf="order.SourceAddressInstruction.Contact.Email" 
          [href]="'mailto:' + order.SourceAddressInstruction.Contact.Email">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.SourceAddressInstruction.Contact.Email }}</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="order.SourceAddressInstruction.Contact.Phone" 
          [href]="'tel:' + order.SourceAddressInstruction.Contact.Phone">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.SourceAddressInstruction.Contact.Phone }}</ion-label>
        </ion-item>
      </div>
      <ion-item lines="none" *ngIf="order.SourceAddressInstruction.Description">
        <ion-icon name="information-outline"></ion-icon>
        <ion-label class="ion-padding-start ion-text-wrap">{{ order.SourceAddressInstruction.Description }}</ion-label>
      </ion-item>
    </div>
    <ion-list-header>
      <ion-label color="secondary">
        Dropoff
      </ion-label>
    </ion-list-header>
    <ion-item
      lines="none"
      [href]="'https://maps.google.com?saddr=My+Location&daddr=' + order.DestinationAddress.Latitude + ',' + order.DestinationAddress.Longitude"
      target="_blank">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start ion-text-wrap">{{ order.DestinationAddress.FullAddress }}</ion-label>
    </ion-item>
    <div *ngIf="order.DestinationAddressInstruction">
      <div *ngIf="order.DestinationAddressInstruction.Contact">
        <ion-item lines="none" *ngIf="order.DestinationAddressInstruction.Contact.Name">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.DestinationAddressInstruction.Contact.Name }}</ion-label>
        </ion-item>
        <ion-item 
          lines="none"
          *ngIf="order.DestinationAddressInstruction.Contact.Email" 
          [href]="'mailto:' + order.DestinationAddressInstruction.Contact.Email">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.DestinationAddressInstruction.Contact.Email }}</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="order.DestinationAddressInstruction.Contact.Phone" 
          [href]="'tel:' + order.DestinationAddressInstruction.Contact.Phone">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.DestinationAddressInstruction.Contact.Phone }}</ion-label>
        </ion-item>
      </div>
      <ion-item lines="none" *ngIf="order.DestinationAddressInstruction.Description">
        <ion-icon name="information-outline"></ion-icon>
        <ion-label class="ion-padding-start ion-text-wrap">{{ order.DestinationAddressInstruction.Description }}</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
