<ion-list>
  <ion-list-header>
    <ion-label color="secondary">
      Pickup
    </ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label position="fixed">Address</ion-label>
    <ion-textarea>Fresnillo 1236 Col. Villa Aurora CP. 85154</ion-textarea>
  </ion-item>
  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="ion-padding-start">Jesús</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label class="ion-padding-start">jesus@gmail.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <ion-label class="ion-padding-start">644 123 6458</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Notes</ion-label>
    <ion-textarea>Casa color verde, enseguida de taller.</ion-textarea>
  </ion-item>
  <ion-list-header>
    <ion-label color="secondary">
      Dropoff
    </ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label position="fixed">Address</ion-label>
    <ion-textarea>Guerrero 1806 Col. Infonavit Yukujimari CP. 85120</ion-textarea>
  </ion-item>
  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="ion-padding-start">María</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label class="ion-padding-start">maria@gmail.com</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <ion-label class="ion-padding-start">644 123 7419</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Notes</ion-label>
    <ion-textarea>Estética</ion-textarea>
  </ion-item>
</ion-list>
