<ion-content>
  <ion-progress-bar *ngIf="order" [value]="progress" [color]="progressColor"></ion-progress-bar>
  <ion-list *ngIf="order">
    <ion-list-header>
      <ion-label color="secondary">
        {{ 'DIRECTIONS_COMPONENT.PICKUP' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item
      lines="none"
      [href]="'https://maps.google.com?saddr=My+Location&daddr=' + order.sourceAddress.latitude + ',' + order.sourceAddress.longitude"
      target="_blank">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start ion-text-wrap">{{ order.sourceAddress.fullAddress }}</ion-label>
      <ion-icon 
        *ngIf="order.deliveryStatus != 'CREATED' && order.deliveryStatus != 'QUEUED' && order.deliveryStatus != 'IN_ORDER'" 
        color="success"
        name="checkmark-circle"
        slot="end">
      </ion-icon>
      <ion-icon 
        *ngIf="order.deliveryStatus == 'CREATED' || order.deliveryStatus == 'QUEUED' || order.deliveryStatus == 'IN_ORDER'"
        name="navigate-circle"
        slot="end">
      </ion-icon>
    </ion-item>
    <div *ngIf="order.sourceAddressInstruction">
      <div *ngIf="order.sourceAddressInstruction.contact">
        <ion-item lines="none" *ngIf="order.sourceAddressInstruction.contact.name">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.sourceAddressInstruction.contact.name }}</ion-label>
        </ion-item>
        <ion-item 
          lines="none"
          *ngIf="order.sourceAddressInstruction.contact.email" 
          [href]="'mailto:' + order.sourceAddressInstruction.contact.email">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.sourceAddressInstruction.contact.email }}</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="order.sourceAddressInstruction.contact.phone" 
          [href]="'tel:' + order.sourceAddressInstruction.contact.phone">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.sourceAddressInstruction.contact.phone }}</ion-label>
        </ion-item>
      </div>
      <ion-item lines="none" *ngIf="order.sourceAddressInstruction.description">
        <ion-icon name="information-outline"></ion-icon>
        <ion-label class="ion-padding-start ion-text-wrap">{{ order.sourceAddressInstruction.description }}</ion-label>
      </ion-item>
    </div>
    <ion-item lines="none" *ngIf="collectedEvidenceFileUploadProgress > 0 && !collectedEvidenceFileUploaded">
      <ion-progress-bar [value]="collectedEvidenceFileUploadProgress" color="secondary"></ion-progress-bar>
    </ion-item>
    <ion-item class="ion-padding-bottom" *ngIf="canUploadCollectedEvidenceFile">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label class="ion-padding-start" (click)="selectCollectedEvidenceFile()">
        {{ collectedEvidenceFile || selectCollectedEvidenceMessage }}
      </ion-label>
      <ion-icon 
        (click)="uploadCollectedEvidenceFile()"
        [color]="collectedEvidenceFileUploaded ? 'success' : ''"
        slot="end"
        *ngIf="collectedEvidenceFile !== null && collectedEvidenceFileUploaded === false"
        name="cloud-upload-outline">
      </ion-icon>
      <ion-icon 
        (click)="viewCollectedEvidenceFile()"
        slot="end"
        *ngIf="collectedEvidenceFile !== null && collectedEvidenceFileUploaded === true"
        name="eye-outline">
      </ion-icon>
    </ion-item>
    <ion-list-header>
      <ion-label color="secondary">
        {{ 'DIRECTIONS_COMPONENT.DROPOFF' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item
      lines="none"
      [href]="'https://maps.google.com?saddr=My+Location&daddr=' + order.destinationAddress.latitude + ',' + order.destinationAddress.longitude"
      target="_blank">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label class="ion-padding-start ion-text-wrap">{{ order.destinationAddress.fullAddress }}</ion-label>
      <ion-icon *ngIf="order.deliveryStatus == 'DELIVERED'" color="success" name="checkmark-circle" slot="end"></ion-icon>
      <ion-icon
        *ngIf="order.deliveryStatus != 'DELIVERED' && order.deliveryStatus != 'CREATED' && order.deliveryStatus != 'QUEUED' && order.deliveryStatus != 'IN_ORDER'"
        name="navigate-circle"
        slot="end">
      </ion-icon>
    </ion-item>
    <div *ngIf="order.destinationAddressInstruction">
      <div *ngIf="order.destinationAddressInstruction.contact">
        <ion-item lines="none" *ngIf="order.destinationAddressInstruction.contact.name">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.destinationAddressInstruction.contact.name }}</ion-label>
        </ion-item>
        <ion-item 
          lines="none"
          *ngIf="order.destinationAddressInstruction.contact.email" 
          [href]="'mailto:' + order.destinationAddressInstruction.contact.email">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.destinationAddressInstruction.contact.email }}</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="order.destinationAddressInstruction.contact.phone" 
          [href]="'tel:' + order.destinationAddressInstruction.contact.phone">
          <ion-icon name="phone-portrait-outline"></ion-icon>
          <ion-label class="ion-padding-start">{{ order.destinationAddressInstruction.contact.phone }}</ion-label>
        </ion-item>
      </div>
      <ion-item lines="none" *ngIf="order.destinationAddressInstruction.description">
        <ion-icon name="information-outline"></ion-icon>
        <ion-label class="ion-padding-start ion-text-wrap">{{ order.destinationAddressInstruction.description }}</ion-label>
      </ion-item>
    </div>
    <ion-item lines="none" *ngIf="deliveredEvidenceFileUploadProgress > 0 && !deliveredEvidenceFileUploaded">
      <ion-progress-bar [value]="deliveredEvidenceFileUploadProgress" color="secondary"></ion-progress-bar>
    </ion-item>
    <ion-item class="ion-padding-bottom" *ngIf="canUploadDeliveredEvidenceFile">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label class="ion-padding-start" (click)="selectDeliveredEvidenceFile()">
        {{ deliveredEvidenceFile || selectDeliveredEvidenceMessage }}
      </ion-label>
      <ion-icon 
        (click)="uploadDeliveredEvidenceFile()"
        [color]="deliveredEvidenceFileUploaded ? 'success' : ''"
        slot="end"
        *ngIf="deliveredEvidenceFile !== null && deliveredEvidenceFileUploaded === false"
        name="cloud-upload-outline">
      </ion-icon>
      <ion-icon 
        (click)="viewDeliveredEvidenceFile()"
        slot="end"
        *ngIf="collectedEvidenceFile !== null && deliveredEvidenceFileUploaded === true"
        name="eye-outline">
      </ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
