<ion-content>
  <ion-list *ngIf="order">
    <div *ngFor="let log of order.DeliveryLog; let i = index" style="margin-bottom: 12px;">
      <ion-list-header>
        <ion-label color="secondary">
          {{ log.Date | date:'short' }}
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label position="fixed">Status</ion-label>
        <ion-input readonly>{{ log.CurrentStatus | deliveryStatus:'long' }}</ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="log.PreviousStatus">
        <ion-label position="fixed">Previous</ion-label>
        <ion-input readonly>{{ log.PreviousStatus | deliveryStatus:'long' }}</ion-input>
      </ion-item>
      <ion-item *ngIf="log.Notes">
        <ion-label position="fixed">Notes</ion-label>
        <ion-input readonly>{{ log.Notes }}</ion-input>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
