<ion-content>
  <ion-progress-bar *ngIf="order" [value]="progress" [color]="progressColor"></ion-progress-bar>
  <ion-list *ngIf="order">
    <div *ngFor="let log of order.deliveryLog; let i = index" style="margin-bottom: 12px;">
      <ion-list-header>
        <ion-label color="secondary">
          {{ log.date | date:'short':'-0700' }}
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'LOG_COMPONENT.STATUS' | translate }}</ion-label>
        <ion-input readonly>{{ log.currentStatus | deliveryStatus:'long' | translate }}</ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="log.previousStatus">
        <ion-label position="fixed">{{ 'LOG_COMPONENT.PREVIOUS' | translate }}</ion-label>
        <ion-input readonly>{{ log.previousStatus | deliveryStatus:'long' | translate }}</ion-input>
      </ion-item>
      <ion-item *ngIf="log.notes">
        <ion-label position="fixed">{{ 'LOG_COMPONENT.NOTES' | translate }}</ion-label>
        <ion-input readonly>{{ log.notes }}</ion-input>
      </ion-item>
      <ion-item *ngIf="log.evidence" (click)="viewEvidenceFile(log)">
        <ion-label position="fixed">{{ 'LOG_COMPONENT.EVIDENCE' | translate }}</ion-label>
        <ion-input readonly>{{ log.evidence.replace(basePath, '') }}</ion-input>
        <ion-icon 
          slot="end"
          name="eye-outline">
        </ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
